.disclaimer {
  font-size: 8px;
  font-style: italic;
}

#resultText {
  diplay: none;
}

.destination{
  color: purple;
  font-style: italic;
  font-weight: bold;

}

.formBox{
  background-color: #FFEBCD;
  border-radius: 10px;
  padding: 15px;
}
.results{
  background-color: #FFFACD;
  border-radius: 10px;
  padding: 15px;
}
.row{
 background-color: #1e90ff;
 border-radius: 5px; }


.description{
  font-size: 20px;
}
